h1{
    color : rgba(3, 9, 31, 0.333);
}
h2{
    color :rgb(31, 58, 58)
}
#intro {
  background-image: url(https://mdbootstrap.com/img/new/fluid/city/008.jpg);
  height: 100vh;
}

/* Height for devices larger than 576px */
@media (min-width: 992px) {
  #intro {
    margin-top: -58.59px;
  }
}

.navbar .nav-link {
  color: #fff !important;
}

h1 {
  color: red
}

h2 {
  color: blue
}

.pet-list {
  padding: 10px;
  list-style-type: none;
}

.pet-list li{
  padding: 10px;
  border-bottom: 1px solid green;
}

.pet-list li:last-child{
  border-bottom: none;
}

.container{
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

form {
  max-width: 400px;
  margin: 0 auto;
}

form p{
  margin-bottom: 10px;
}

form label{
  display: block;
  font-weight: bold;
}

form input[type="text"],
form input[type="number"]
{
  width: 100%;
  padding: 8px;
  border: 1px solid green;

}

form button.btn-save{
  background-color: blue;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
}
