{% extends 'base.html' %}


{% block title %} Shoe Home {% endblock %}

{% block content %}

<h1 class="text-dark mb-12 mt-12" style="font-family:cursive; font-weight: 900;">WELCOME</h1></br>
    <!-- Background image -->
<div class="bg-image" style="background-image: url(); height: 70vh;">
<div class="mask" style="background-color: rgba(0, 0, 0, 0.0);">
  
  <div class="d-flex justify-content-center align-items-center h-100">
        <div class="container">
        <img src="https://sh.skechers.com/logos/images/CORP_SKX_BLK-logo.jpg" 
        class="img-fluid rounded-9 float-START" style="width: 100%; aspect-ratio: 3/2; object-fit: contain; mix-blend-mode: darken; margin: 10px;">
        </div>

        <div class="container">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTwGBTy4X-tBETJ2AkdgDFOypCxbs-1mLN8hnEBeWVmHUO6n_tud-ENA1aopIdb5voIc14&usqp=CAU" 
        class="img-fluid rounded-circle float-START" style="width: 100%; aspect-ratio: 3/2; object-fit: contain; mix-blend-mode: darken; margin: 10px;">
        </div>
        
        <div class="container">
        <img src="https://static.vecteezy.com/system/resources/thumbnails/010/994/412/small_2x/nike-logo-black-with-name-clothes-design-icon-abstract-football-illustration-with-white-background-free-vector.jpg" 
        class="img-fluid rounded-9 float-START" style="width: 100%; aspect-ratio: 3/2; object-fit: contain; mix-blend-mode: darken; margin: 10px;">
        </div>

        <div class="container">
        <img src="https://darcet.pl/37236/puma-meska-koszulka-t-shirt-bawelniana-czarna.jpg" 
        class="img-fluid rounded-circle float-START" style="width: 100%; aspect-ratio: 3/2; object-fit: contain; mix-blend-mode: darken; margin: 10px;">
        </div>

        <div class="container">
        <img src="https://www.adgully.com/img/800/201911/reebok-vector-logo.jpg" 
        class="img-fluid rounded-9 float-START" style="width: 100%; aspect-ratio: 3/2; object-fit: contain; mix-blend-mode: darken; margin: 10px;">
        </div>

  </div>
</div>
</div>
<!-- Background image -->

{% endblock %}